{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block content %}
{% if app.user and app.user.roles is defined and 'ROLE_ADMIN' in app.user.roles %}
<a href={{ path("newcategory") }} <button class="btn btn-warning">Create a new category</button></a>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category</th>
      {% if app.user and app.user.roles is defined and 'ROLE_ADMIN' in app.user.roles %}
      <th scope="col">Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for category in categories %}
    <tr>
      <th scope="row">{{ category.id }}</th>
      <td><a href={{ path("category_post_list", { id: category.id }) }}>{{ category.name }}</a></td>
      {% if app.user and app.user.roles is defined and 'ROLE_ADMIN' in app.user.roles %}
      <td>
        <a href={{ path("category_edit" , { id: category.id}) }}><button class="btn btn-info">Modifier</button></a>
        <a href={{ path("category_delete" , { id: category.id}) }}><button class="btn btn-danger">Supprimer</button></a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
